<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/entries" routerLinkActive="active">Entries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
            <br>
        </div>

        <div class="col-md-9">
            <h1>Dashboard</h1>
            <br>
            <p class="text-justify">IT Tutorials is amazing and easy to learn from basic to advanced level. All the educators are very professional and they have in depth knowledge of their subjects. All the tutors are very wonderful and they teach from very basic to advanced level and explain each and every point well. This tutorial is specially designed for beginner level or even the person with some experience. IT Tutorials is the best online resource for learning concepts faster and easier. So enjoy all the courses on IT Tutorials and keep learning.</p>
        </div>
    </div>
</div>
