div.container-fluid {
    padding: 50px 100px 0 50px;
}

a.nav-link {
    background-color: lightgrey;
    color: black;
    margin-bottom: 5px;
}

a.nav-link:hover {
    background-color: royalblue;
    color: white;
    margin-bottom: 5px;
}

div.col-md-9 {
    height: 530px;
}

@media screen and (max-width: 576px) {
    div.col-md-9 {
        height: auto;
    }
}