<div class="container mt-5">
    <h2>About Us</h2>
    <p>This website provides tutorials of different programming languages and computer subjects. The main purpose of this website is to provide quality learning content for studens and professionals. We understand your value with the content we provide, so we are committed to deliver you the best possible material. IT Tutorials website is about creativity and innovative work in the field of Technology</p>
    <p>We provide web development courses, important video tutorials, technology concepts and articles. You will get all the material from this website and you are free to make any changes you like to make.</p>
</div>
<br>