<div class="bg-grey">
  <div class="container-fluid px-5">
    <br>
    <h2>IT Tutorials is the best resource for learning Web Technologies quickly and easily</h2>
    <br><br>

    <div class="row">
        <div class="col-xl-6 courses1">
            <p>Choose Your Course</p>
            
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn mb-3">Angular9</button><br>
                    <button type="button" class="btn mb-3">Angular JS</button><br>
                    <button type="button" class="btn mb-3">RxJS</button><br>
                    <button type="button" class="btn mb-3">CSS</button>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn mb-3">Angular2</button><br>
                    <button type="button" class="btn mb-3">NodeJS</button><br>
                    <button type="button" class="btn mb-3">Python</button><br>
                    <button type="button" class="btn mb-3">Javascript</button>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn mb-3">Material</button><br>
                    <button type="button" class="btn mb-3">React JS</button><br>
                    <button type="button" class="btn mb-3">AJAX</button><br>
                    <button type="button" class="btn mb-3">jQuery</button>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn mb-3">Typescript</button><br>
                    <button type="button" class="btn mb-3">Express JS</button><br>
                    <button type="button" class="btn mb-3">HTML 5</button><br>
                    <button type="button" class="btn mb-3">Bootstrap</button>
                </div>
            </div>
        </div>

        <div class="col-xl-6 courses2">
            <p>Choose Your Course</p>
            
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn mb-3">MongoDB</button><br>
                    <button type="button" class="btn mb-3">SQL</button><br>
                    <button type="button" class="btn mb-3">.Net Core</button><br>
                    <button type="button" class="btn mb-3">C</button>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn mb-3">Web API</button><br>
                    <button type="button" class="btn mb-3">RDBMS</button><br>
                    <button type="button" class="btn mb-3">Passport</button><br>
                    <button type="button" class="btn mb-3">C++</button>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn mb-3">JSON</button><br>
                    <button type="button" class="btn mb-3">ASP.Net</button><br>
                    <button type="button" class="btn mb-3">REST API</button><br>
                    <button type="button" class="btn mb-3">Azure</button>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn mb-3">MVC</button><br>
                    <button type="button" class="btn mb-3">C-Sharp</button><br>
                    <button type="button" class="btn mb-3">Nativescript</button><br>
                    <button type="button" class="btn mb-3">Java</button>
                </div>
            </div>
        </div>

    </div>
  </div>
  <br>
</div>